$widthSite: 1140px;
$widthMiddleSite: 736px;
$widthTopBanner: 1265px;
$darkColorSite: rgb(34, 34, 34);
$pinkColorSite: rgb(241, 109, 127);
$whiteColorSite: rgb(255, 255, 255);
$greyColorSite: rgb(94, 94, 94);
$sliderColor: rgba(42, 42, 42, 0.1);
$greyColorDropdownMenu: rgb(111, 110, 110);
$greyFontColors: rgb(177, 177, 177);
$greyFormBorder: rgb(164, 164, 164);